<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372239090571-gu3s0q9p560plberiuhreebbe0h744v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372239090571-gu3s0q9p560plberiuhreebbe0h744v6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>372239090571-j3ctimrqqjlsk9ff8a1979lsddobhe1i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMqEExgANkAMZggvaoxVzL1_lCTFLNqpM</string>
	<key>GCM_SENDER_ID</key>
	<string>372239090571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rainhackers.rainconnect</string>
	<key>PROJECT_ID</key>
	<string>rainconnect-b85obh</string>
	<key>STORAGE_BUCKET</key>
	<string>rainconnect-b85obh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372239090571:ios:e11f565192fcdba2faa58e</string>
</dict>
</plist>