<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372239090571-1vnvg0rhb51s6mi5er0int3l995536dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372239090571-1vnvg0rhb51s6mi5er0int3l995536dp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>372239090571-m5s1kshc9igjsruh0ndja6jmguvq7obu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMqEExgANkAMZggvaoxVzL1_lCTFLNqpM</string>
	<key>GCM_SENDER_ID</key>
	<string>372239090571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rainconnect</string>
	<key>PROJECT_ID</key>
	<string>rainconnect-b85obh</string>
	<key>STORAGE_BUCKET</key>
	<string>rainconnect-b85obh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372239090571:ios:d45db2a21d406eb7faa58e</string>
</dict>
</plist>